/* index.php */
body.index{
    background-image: url(../pic/pic.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.content{
    background-color: rgba(0,0,0, 0.4);
    width: 100%;
}

div.container-fluid.p-5{
    width: 100%;
    color: white;
}

@font-face {
    font-family: thFont1;
    src: url(../font/PK\ Maehongson\ Medium.ttf);
}

@font-face {
    font-family: thFont2;
    src: url(../font/SOV_Vimamsa.ttf);
}

p.one{
    font-size: 100px;
    margin: 0;
    font-family: thFont2;
}

p.two{
    font-size: 50px;
    font-family: thFont2;
}

p.three{
    font-size: 30px;
    font-family: thFont1;
}

@media (max-width: 900px) {
    p.one{
        font-size: 70px;
        margin: 0;
    }
    
    p.two{
        font-size: 30px;
    }
    
    p.three{
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    p.one{
        font-size: 50px;
        margin: 0;
    }
    
    p.two{
        font-size: 20px;
    }
    
    p.three{
        font-size: 15px;
    }
    .content{
        padding-top: 25%;
    }
}

