.BtnPlay_InCarousel{
    z-index: 1;
    display: none;
    text-decoration: none;
    font-size: 80px;
    color:#000000;
    background-color:#FFFAF6;
    padding: 0px 27px 0px 30px;
    border-radius: 10px;
}
.BtnPlay_InCarousel:hover{
    color:darkcyan;
}
.fadeblock:hover{
    opacity: 0.8;
}
.fadeblock:hover .BtnPlay_InCarousel {
    display: block;
    opacity: 1;
}