@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

img.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

div.login , div.register {
    position: relative;
    padding: 60px;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    width: 500px;
    top: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1);
}  

div.register {
    top: 15%;
}

div.login h2 , div.register h2{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: #3d1441;
    margin-bottom: 30px;

}

div.input-group {
    position: relative;
}

label {
    color: #130214;
    font-size: 1.25em;
}

input {
    position: relative;
    width: 100%;
    padding: 10px 15px;
    outline: none;
    font-size: 1.25em;
    color: #76248f;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
}

input::placeholder {
    color: #9e80a7;
}

input#btn {
    position: relative;
    border: none;
    outline: none;
    background: #3d1441;
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.5s;
    padding: 15px 20px;
}

input#btn:hover {
    background: #76248f;
}

p {
    font-size: 1.25em;
    color: #3d1441;
    font-weight: 500;
}

a {
    color: #3d1441;
    font-weight: 500;
}